body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

h2 {
    padding-top: 2rem;
}

.logout-btn {
    background: #dc3545;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    float: right;
    margin-top: -40px;
}

.logout-btn:hover {
    background: #c82333;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-success {
    background: #d4edda;
    color: #155724;
}

.alert-danger {
    background: #f8d7da;
    color: #721c24;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-header {
    background: #007bff;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.btn-danger {
    background: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background: #c82333;
}

.btn-success {
    background: #28a745;
    color: #fff;
}

.btn-success:hover {
    background: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.max-candidates {
    color: #888;
}

.formClass input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formClass button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formClass button[type="submit"]:hover {
    background-color: #0056b3;
}

.deleteButton {
    padding: 10px 20px;
    background-color: #ff0040;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonPadding {
    padding: 10px 7px !important;
}

a {
    float: right
}